<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Template</title>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/reset.css">
</head>

<body>
  <section class="our-work">
    <div class="inner">

    <h2>Our work</h2>
    <p>We are added our featured works below</p>
<div class="projects">


  <div class="project-name">
    <h3><span>Project name</span> Landing page</h3>
  </div>
  <div>
    <img src="img/photo1.jpg" alt="">
  </div>

  <div class="project-name">
    <h3><span>Project name</span> Landing page</h3>
  </div>
  <div class="fourth">
    <img src="img/photo5.jpg" alt="">
  </div>

  <div class="fives">
    <img src="img/photo6.jpg" alt="">
  </div>
  <div class="project-name sixth">
      <h3><span>Project name</span> Landing page</h3>
    </div>

    <div class="seventh">
      <img src="img/photo7.jpg" alt="">
    </div>
    <div class="project-name">
      <h3><span>Project name</span> Landing page</h3>
    </div>


</div>

</div>
  </section>
  <section class="facebook-analysis">
    <div>
    <h2>Get Your Free Facebook Analysis Now</h2>
    <p>Enter your details below</p>
    <div class="arrow">
    </div>
    <div class="triangle-up"></div>
    <form action="" class="facebook-analysis_form">
      <div class="x"></div>
      <p>Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more</p>
      <input type="text" placeholder="Your Name">
      <input type="text" placeholder="Contact Number">
      <input type="text" placeholder="Company Name">
      <button>SUBMIT NOW</button>
    </form>
  </div>
  </section>
  <section class="get-in-touch">
    <div>
    <h2>Get in touch</h2>
    <nav class="social-networks">
      <a href="#" class="facebook"></a>
      <a href="#" class="twitter"></a>
      <a href="#" class="google"></a>
      <a href="#" class="linkedin"></a>
    </nav>

      <p>Subscribe to our newsletter to stay update to what is new</p>
    <form class="get-in-touch_form">
      <input type="text" placeholder="Email Adress">
      <button>Subscribe</button>
    </form>
  </div>
  </section>
  <footer><div class="footer">Tytarenko &copy; 2017 All Rights Reserved</div></footer>
</body>

</html>
